@import "../../css-config/mixins.scss";

.main-header {
    width: 100%;
    padding: 0 20px;
    background-color: #212121;
    color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 99;
    @include md{
        background-color: green;
        padding: 0, 40px;
    }
    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        max-width: 1200px;
        margin: 0 auto;
        @include md{
            height: 80px;
        }

        .left {
            list-style: none;
            display: none;
            gap: 25%;
            @include md{
                display: flex;

            }

            li {

                font-weight: 600;
                text-transform: uppercase;
                cursor: pointer;
            }

        }

        .center {
            font-weight: 600;
            text-transform: uppercase;
            cursor: pointer;
            font-size: 25px;
            @include md{

               font-size: 35px;
               position: absolute;
               left: 50%;
               transform: translateX(-50%);
            }
        }

        .right {
            text-align: center;
            display: flex;
            gap: 20px;
            cursor: pointer;
            @include md{
                gap: 25px;
            }

            svg {
                font-size: 20px;
                @include md{
                    font-size: 25px;
                }
            }

            .cart-icon {
                position: relative;

                span {
                    min-width: 20px;
                    position: absolute;
                    background-color: purple;
                    top: -2px;
                    right: -2px;
                    text-align: center;
                    padding: 2px;
                    font-size: 12px;
                    line-height: 1;
                    border-radius: 10px;

                }
            }
        }
    }
}
